#Client-Side
/.mixin.out/
/astralsorcery/
/craftpresence/
/crash-reports/
/downloads/
/fonts/
/journeymap/
/llibrary/
/logs/
/mods/1.12.2/
/mods/memory_repo/
/resourcepacks/
/saves/
/screenshots/
/shaderpacks/
/TombManyGraves/
/config/brandon3055/ProjectIntelligence/ModDocs/
/config/brandon3055/ProjectIntelligence/DocUpdater/
/config/brandon3055/ResourceCache/
/config/jei/bookmarks.ini
/config/jei/worldSettings.cfg
/tv-cache/
.curseclient
BotaniaVars.dat
knownkeys.txt
crafttweaker.log
options.txt
optionsof.txt
optionsshaders.txt
patchouli_data.json
.ReAuth.cfg
minecraftinstance.json
mtservers.dat
OpenComputersMod-1.7.5.192-lua52-native.64.dll
OpenComputersMod-1.7.5.192-lua53-native.64.dll
servers.dat
servers.dat_old
usercache.json
usernamecache.json
